:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --orange: #BD361E;
  --golden: #FA9500;
  --light-pink: #FFDAC7;
  --light-green: #BABD8E; 
  --avocado: #7C690A;
  --light-brown:#B37545;
  --medium-brown:#874725;
  --dark-brown:#422118; 
}

body {
  margin: 0px;
  padding: 0px;
}

.asset-regular {
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
}

.topNav {
  font-family: "Ultra", serif;
  background-color: var(--orange);
  padding: 10px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.titleHeader {
  margin: 0px;
  padding-left: 5px;
  font-weight: 400;
}

.topNavLinks{
  list-style-type: none;
}

.topNavLink {
  display: inline-block;
  padding: 5px; 
  border-right: 2px solid var(--light-pink);

}

.linkText {
  color: var(--light-pink);
  text-shadow: 1px 1px 2px  var(--medium-brown);

  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;

}

.linkText:hover {
  color: var(--light-green);
}
