.homepageContainer{
  display: flex;
}

.intro{
  width: 40%;
  background-color: var(--golden);
  margin: 10px;
  margin-left: 50px;
  padding: 15px;
  border-radius: 10px;
}

.introTitle{
  color: var(--orange);
  font-weight: 700;
  font-size: xx-large;
  font-family: "Domine", serif;

}

.introText{
  line-height: 25px;
  font-family: "Noto Sans", sans-serif;
}

.button {
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    background-color: var(--avocado);
    color: white;
    border: none;
    font-family: "Ultra", serif;
    font-size: 25px;
    text-shadow: 1px 1px 2px  var(--medium-brown);
    margin: 0 auto;
    display: block;
}

.buttonLink {
  text-decoration: none;
  text-align: center;
}


.menuButton:hover {
  background-color: var(--medium-brown);
}

.columnTwo {
  display: block;
  align-items: left;
  justify-content: left;
  width: 60%;
  margin-top: 0px;
  margin-right: 50px;
  padding: 0px;

}

.catIntro{
  display: flex;

}

.catBox { 
  width: 50%;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  justify-content: left;
  display: block;

}
.catOne{
  background-color: var(--light-pink);
}

.catTwo{
  background-color: var(--light-green);
}

.catImage {
  width: 80%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  border: solid 2px var(--dark-brown)
}

.nowHiring { 
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  justify-content: left;
  display: block;
  background-color: var(--light-brown);

}
